.chart {
  padding: var(--space-small);

  background-color: var(--less-black);
  border-radius: var(--border-radius-m);
  box-shadow: var(--box-shadow-diffuse);

  &__content &__chart {
    height: 100%;
  }
}
